# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environment
venv/
env/
.venv/

# Node
node_modules/
dist/
build/

# Logs
*.log

# IDE
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db


backend/models/*.pkl
notebooks/*.ipynb
!notebooks/*.ipynb (if cleaned)
frontend/node_modules/